.btn2 {
    color: var(--text-color) !important;
    background-color: transparent !important;
    border: 2px solid #0ef;
    ;
}

.btn2:hover {
    background-color: #0ef !important;
}

#flashmsg {
    font-weight: 400;
    display: none;
}

.form-group input,
.form-group textarea {
    background-color: #0c0c0c !important;
    color: white;
}
.payment{
    background-image: linear-gradient(121.4deg, rgb(0, 0, 0) 30.5%, rgb(15, 23, 43) 93.2%);
}

@media only screen and (max-width: 767px) {

    .sub-title,
    .payment-left {
        text-align: center;
    }

    .btn2:hover {
        background-color: transparent !important;
    }

    .btn:hover {
        background-color: transparent !important;
        box-shadow: none !important;
    }

    .payment-right .btn {
        text-align: center;
    }

}